@import 'vars';
@import 'mixins';

:root {
  --announcement-height: 0px;
  --header-height: 70px;
}

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  padding: 0;
  text-decoration: none;
  font: $font-standard;
  color: $color-primary;
}

p {
  margin: 0;
  padding: 0;
  color: $color-primary-light;
  font-weight: 400;
  line-height: 28px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font: $font-standard;
  color: $color-primary;
  background: $bg-color;

  @include screen-md {
    &.lock {
      overflow: hidden;
    }
  }

}

.main {
  overflow: hidden;
}

.container {
  max-width: $container-width;
  padding: 0 80px;
  margin: 0 auto;

  @include screen-lg {
    max-width: 1300px;
    padding: 0 10px;
  }
}

h1 {
  font: $font-h1;
  letter-spacing: -2.56px;
  line-height: 77.45px;

  @include screen-lg {
    font: $font-h1-tablet;
  }

  @include screen-md {
    font: $font-h1-mobile;
    letter-spacing: .56px;
  }

  @include screen-sm {
    font: $font-h4-mobile;
    line-height: 32px;
    letter-spacing: -0.56px;
    font-weight: 700;
  }

  @include screen-xs-smaller {
    font: $font-large;
    font-weight: 700;
  }

}

.title__block {
  padding-top: 80px;
  display: flex;

  &.center-block {
    justify-content: center;
    text-align: center;
  }

}