
.catalog__title {
  padding-top: 183px;
  text-align: center;

  h2 {
    font: $font-h3;
    line-height: normal;
    letter-spacing: -1.92px;

    @include screen-md {
      font: $font-h3-tablet;
    }

    @include screen-sm {
      font: $font-h3-mobile;
    }


  }

  p {
    margin: 0 auto;
    text-align: center;
    max-width: 706px;
    padding-top: 24px;
    padding-bottom: 96px;

    @include screen-sm {
      font: $font-smaller;
    }

  }

}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 400px));
  column-gap: 40px;
  grid-row-gap: 40px;
  justify-content: center;

  @include screen-sm {
    grid-template-columns: repeat(2, minmax(0, 300px));
    column-gap: 20px;
    grid-row-gap: 20px;
  }

  @include screen-xs {
    grid-template-columns: repeat(1, minmax(0, 400px));
    column-gap: 20px;
    grid-row-gap: 20px;
  }

  .catalog_item {

    border-radius: 30px;
    padding-top: 16px;
    background: linear-gradient(180deg, rgba(231, 249, 253, 0.00) 0%, #E7F9FD 100%);

    &.ads {
      background: none;
    }

    .ads__image {

      img {
        max-width: 100%;
      }

    }

    .item__image {
      position: relative;
      text-align: center;

      img {
        border-radius: 30px;
        max-width: 90%;
        margin: 0 auto;
      }

      .wishlist {
        position: absolute;
        top: 15px;
        right: 36px;
        background: #fff;
        border-radius: 50%;
        width: 48px;
        height: 48px;

        @include screen-md {
          right: 8%;
        }

        @include screen-sm {
          width: 38px;
          height: 38px;
          top: 15px;
        }


        svg {
          margin: 12px 0;

          @include screen-sm {
            margin: 7px;
          }

        }
      }

    }

    .item__info {
      padding: 24px 32px;

      .item__title {

        h3 {
          font: $font-h5-mobile;
          line-height: 32px;
          letter-spacing: -0.96px;

          @include screen-md {
            font-size: 18px;
            font-weight: 600;
            line-height: 22px;
          }

        }

      }

      .item__special-info {
        padding-top: 24px;
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        align-items: center;
        font: $font-smaller;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.28px;
        color: $color-primary-light;

        @include screen-md {
          gap: 15px;
        }

        .timer-info,
        .cutlery {
          display: flex;
          align-items: center;
          gap: 10px;

        }

      }

    }


  }
}