.dishes__title {
  padding-top: 160px;
  display: flex;
  justify-content: space-between;
  gap: 153px;
  align-items: center;

  @include screen-sm {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }

  h2 {
    font: $font-h3;
    line-height: normal;
    letter-spacing: -1.92px;

    @include screen-md {
      font: $font-h3-tablet;
    }

    @include screen-sm {
      font: $font-h3-mobile;
      text-align: center;
    }
  }

  p {
    font-weight: 400;
    line-height: 28px;

    @include screen-sm {
      font: $font-smaller;
      text-align: center;
    }

  }

}

.dishes__list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 290px));
  column-gap: 40px;
  grid-row-gap: 30px;
  padding-top: 60px;
  justify-content: center;

  @include screen-md {
    grid-template-columns: repeat(3, minmax(0, 290px));
    column-gap: 20px;
    grid-row-gap: 20px;
  }


  @include screen-xs {
    grid-template-columns: repeat(2, minmax(0, 190px));
    column-gap: 20px;
    grid-row-gap: 20px;
  }


  .dishes__item {
    padding-top: 16px;

    .item__image {
      position: relative;
      text-align: center;

      img {
        border-radius: 30px;
        max-width: 100%;
      }

      .wishlist {
        position: absolute;
        top: 15px;
        right: 15px;
        background: #fff;
        border-radius: 50%;
        width: 48px;
        height: 48px;

        @include screen-md {
          top: 5%;
          right: 5%;
        }

        @include screen-sm {
          width: 38px;
          height: 38px;
          //top: 15px;
        }

        svg {
          margin: 12px 0;

          @include screen-sm {
            margin: 7px;
          }

        }
      }

    }

    .item__info {
      padding-top: 16px;

      .item__title {

        h3 {
          font: $font-larger;
          font-weight: 600;
          line-height: 26px;
          letter-spacing: -0.72px;
        }

      }

      .item__special-info {
        padding-top: 24px;
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        align-items: center;
        font: $font-smaller;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.28px;
        color: $color-primary-light;

        @include screen-md {
          gap: 15px;
        }

        .timer-info,
        .cutlery {
          display: flex;
          align-items: center;
          gap: 10px;

        }

      }

    }


  }
}