.dishes__title {
  padding-top: 160px;
  display: flex;
  justify-content: space-between;
  gap: 153px;
  align-items: center;

  h2 {
    font: $font-h3;
    line-height: normal;
    letter-spacing: -1.92px;
  }

  p {
    font-weight: 400;
    line-height: 28px;
  }

}

.dishes__list {
  display: grid;
  grid-template-columns: 290px 290px 290px 290px;
  column-gap: 40px;
  grid-row-gap: 30px;
  padding-top: 60px;

  .dishes__item {
    padding-top: 16px;

    .item__image {
      position: relative;
      text-align: center;

      img {
        border-radius: 30px;
      }

      .wishlist {
        position: absolute;
        top: 15px;
        right: 15px;
        background: #fff;
        border-radius: 50%;
        width: 48px;
        height: 48px;

        svg {
          margin: 12px 0;
        }
      }

    }

    .item__info {
      padding-top: 16px;

      .item__title {

        h3 {
          font: $font-larger;
          font-weight: 600;
          line-height: 26px;
          letter-spacing: -0.72px;
        }

      }

      .item__special-info {
        padding-top: 24px;
        display: flex;
        gap: 24px;
        align-items: center;
        font: $font-smaller;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.28px;
        color: $color-primary-light;

        .timer-info,
        .cutlery {
          display: flex;
          align-items: center;
          gap: 10px;

        }

      }

    }


  }
}