@import "../vars";
@import "../mixins";

.site-footer {
  padding: 160px 0 49px;
  margin-top: auto;
  overflow: hidden;

  .footer__nav-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);

    @include screen-sm {
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;

      .footer__logo {
        text-align: center;
      }

    }

    p {
      padding-top: 16px;
      padding-bottom: 48px;
      font-weight: 400;
      line-height: 28px;

      @include screen-md {
        padding-bottom: 0;
      }

    }
    ul {
      display: flex;
      align-items: center;
      gap: 60px;

      @include screen-md {
        flex-wrap: wrap;
        gap: 20px;
      }

      li {

        a {
          font: $font-standard;
          font-weight: 500;
          line-height: 19.36px;
          letter-spacing: -0.32px;
        }

      }
    }

  }


  .site__footer-copyright {
    text-align: center;
    font: $font-larger;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;
    padding-top: 48px;
    position: relative;

    @include screen-sm {
      display: flex;
    }

    .footer__social {
      position: absolute;
      top: 45px;
      right: 0;

      ul {
        display: flex;
        gap: 60px;

        @include screen-sm {
          gap: 20px;
        }

      }

    }

  }



}