@import "../vars";
@import "../mixins";

input[type="text"],
input[type="email"],
input.input-text {
  font: $font-smaller;
  border: 1px solid $color-border;
  border-radius: 5px;
  height: 34px;
  padding: 0 8px;
  width: 100%;

  &:focus, &:focus-visible {
    border-color: $color-primary;
    outline: unset;
    box-shadow: unset;
  }
}
