.single-recipe {

  .title__block {
    justify-content: space-between;

    @include screen-md {
      display: block;
      padding-top: 30px;
      text-align: center;
    }

    .additional-info {
      margin: 48px 0 0 0;

      @include screen-md {
        display: grid;
        grid-template-columns: 50% 50%;
        position: relative;
        margin: 28px 0 0 0;

      }


      .author,
      .timer-info,
      .timer-info {

        position: relative;

        @include screen-md {
          display: block;
        }

        &:after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 1px;
          height: 50px;
          background-color: rgba(0, 0, 0, .1);

          @include screen-md {
            display: none;
          }

        }

      }

      .author {

        padding-right: 58px;

        @include screen-md {
          margin: 0 auto;
        }

        @include screen-xs {
          padding-right: 0;

          .author-details {
            display: block;

            img {
              margin: 0 auto;
            }

          }

        }

      }

      .timer-info,
      .timer-info {
        background: none;
        padding: 0 32px 0 16px;

        @include screen-xs {
          padding: 0;
        }

      }

      .cutlery {
        background: none;
        padding: 0 0 0 16px;
        position: relative;

        @include screen-md {
          margin: 0 auto;
        }

        @include screen-xs {
          padding: 0;
        }

      }

      .info-title {

        p {
          font: $font-caption;
          color: $color-primary;
          letter-spacing: 1.2px;
          line-height: 14.52px;
          font-weight: 500;
          margin: 0 0 8px 0;

          @include screen-lg {
            margin: 0;
            font: $font-smaller;
            font-weight: 700;
          }

        }

        span {
          display: block;
          font: $font-smaller;
          letter-spacing: -0.28px;
          line-height: 16.94px;
          font-weight: 500;
        }

      }

    }

    .actions {

      &-block {
        display: flex;
        gap: 32px;
        padding-top: 48px;
        text-align: center;

        @include screen-md {
          display: none;
        }

        .action {
          &-icon {
            width: 80px;
            height: 80px;
            background-color: #e7fafe;
            border-radius: 50%;
            padding: 28px;
          }

          &-link {
            font: $font-caption;
            font-weight: 500;
            line-height: 14.52px;
            letter-spacing: 1.2px;

            .text {
              padding-top: 16px;
            }

          }

        }

      }

    }

  }

  .recipe-section {

    p {
      font-weight: 400;
      line-height: 28px;
    }

  }

  .action__mobile {

    @include screen-md {
      display: block;
      position: fixed;
      width: 56px;
      right: 15px;
      bottom: 15px;
      z-index: 9999;
    }

  }

  .dishes__title {

    h2 {
      width: 100%;
      text-align: center;
    }

  }

}