@import "../vars";
@import "../mixins";

.subscription-form {
  &__title {
    font: $font-smaller;
    font-weight: 700;
    margin-bottom: 16px;
    text-transform: uppercase;
  }

  &__text {
    font: $font-caption;
    margin-bottom: 14px;
  }

  .fluentform {
    .ff-el-group {
      margin-bottom: 0;
    }

    .frm-fluent-form .ff-t-cell .ff_submit_btn_wrapper_custom button {
      margin: 0;
    }

    .frm-fluent-form .ff-t-container {
      display: flex;
      align-items: flex-start;
      gap: 16px;
    }

    .ff-t-cell.ff-t-column-1,
    .ff-t-cell.ff-t-column-2 {
      @include screen-sm {
        flex-basis: auto !important;
      }
    }

    .ff-t-cell.ff-t-column-1 {
      flex-grow: 1;
      flex-basis: auto !important;
    }

    .ff-el-input--content {
      padding-top: 2px;
    }
  }
}